#m-about #about{
    background: url(../images/about_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 90px 0;
}
#m-about .abt-con h1{
    display: flex;
    justify-content: center;
    margin-top: -850px;
    font-size: 44px;
    color: aliceblue;
}
#m-about .abt-con #box{
    border: 5px solid rgb(255, 255, 255);
    width: 59px;
    margin-left: 48%;
}
#m-about p{
    line-height: 28px;
    padding-top: 20px;
    color: #fff;
    font-size: 17px;
    margin-left: 445px;
    margin-top: -13px;
}