*{
    margin: 0%;
    padding: 0%;
    font-family:sans-serif ;
}
#head{
    display: flex;
    background-color:  rgba(39,43,44,.87);
    position: absolute;
    color: rgba(39,43,44,.87);
    padding: 2%;
    width: 100%;
    top: 0%;
}
#head h1{
    color: aliceblue;
    width: 35%;
    font-size: 19px;
    margin-top: 15px;
}
#head .headli {
    margin-left: 18%;
    width: 100%;
    margin-top: 15px;
}
#head .headli a{
    margin-left: 60px;
    color: aliceblue;
}

 